<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
  <header>
    <h1>The recipes cookbook</h1>
    <p>Buy ingredients and create your own recipes</p>
  </header>
  <article>
    <h5>INSTRUCTIONS</h5>
    <ol>
      <li>
        <p>
          Switch to <strong>sign up</strong> to create an account <br />
          Use a valid email and the password must be least 6 characters long
        </p>
      </li>
      <li>
        <p>Log in</p>
      </li>
      <li>
        <p>Play around with the recipes CookBook</p>
      </li>
    </ol>
  </article>
  <div class="alert-box-actions">
    <button class="btn-close" (click)="onClose()">Close</button>
  </div>
</div>
